.cart {
    /* display: flex; */
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-left: -1rem;
}

.btn-outline-success.btn:hover {
    color: var(--bs-btn-hover-color);
    background-color:teal;
    border-color: var(--bs-btn-hover-border-color);
}
.cart1 {
    cursor: pointer;
}

/* .cart1 span:nth-child(1) {
    font-size:1rem;
    color: white;
} */

.cart1 span:nth-child(2) {
    padding: 0 3px;
    font-size: 12px;
    background-color: teal;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    position: relative;
    top: -.6rem;
    right: .5rem;
}


.btn[class*="btn-outline-"] {
    padding-top: 5px;
    padding-bottom: 5px;
}
